@model List<RelatorioLucroAtivo>

@{
    ViewData["Title"] = "Consolidação Lucro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal"></div>

<div class="teste">
    <h1>Consolidaçao Lucro/Prejuízo</h1>
</div>

<table>
    <thead>
        @using (Html.BeginForm())
        {

            <tr class="teste2">
                <td>
                    @Html.DropDownList("Desagio", (IEnumerable<SelectListItem>)ViewBag.Desagio, new { @class = "form-control" })
                </td>
                <td>
                    <label for="inicio">Início:</label>
                    <input type="date" name="dataInicio" value="@ViewBag.Inicio.ToString("yyyy-MM-dd")">
                </td>
                <td>
                    <label for="fim">Fim:</label>
                    <input type="date" name="dataFim" value="@ViewBag.Fim.ToString("yyyy-MM-dd")">
                </td>
                <td>
                    <input type="submit" value="Filtrar" class="btn btn-primary" name="filtrar" />
                </td>

            </tr>
            <tr class="teste2">
                <td>
                    <label for="inicio">Início:</label>
                    <input type="time" name="horaInicio" step="300" min="10:00" max="17:00" value="@ViewBag.HoraInicio.ToString("HH:mm:ss")" required>
                    @*<input type="date" name="horaInicio" value="@ViewBag.HoraInicio.ToString("yyyy-MM-dd")">*@
                </td>
                <td>
                    <label for="fim">Fim:</label>
                    <input type="time" name="horaFim" step="300" min="10:00" max="17:00" value="@ViewBag.HoraFim.ToString("HH:mm:ss")" required>
                    @*<input type="date" name="horaFim" value="@ViewBag.HoraFim.ToString("yyyy-MM-dd")">*@
                </td>
                <td>
                    @if (Model != null)
                    {
                        <label for="inicio">Tempo Processamento: @ViewBag.Tempo.ToString(@"m\:ss")</label>
                    }
                </td>

            </tr>
        }
    </thead>
</table>

<table style="display: none">
    <thead>
        <tr class="teste2">
            <td>
                <label>Por Ativo</label>
                <input type="text" id="filterByAtivo" class="control-label" onkeyup="meuFiltro()" placeholder="Ativo" title="Type in a name">
            </td>
            <td>
                <label>Por Entradas</label>
                <input type="text" id="filterByEntradas" class="control-label" onkeyup="meuFiltro()" placeholder=">= Quant. Entradas" title="Type in a name">
            </td>
        </tr>
        <tr class="teste2">
            <td>
                <label>Por Lucro</label>
                <input type="text" id="filterByLucro" class="control-label" onkeyup="meuFiltro()" placeholder=">= lucro" title="Type in a name">
            </td>
            <td>
                <label>Por % Lucro</label>
                <input type="text" id="filterByPercentLucro" class="control-label" onkeyup="meuFiltro()" placeholder=">= % lucro" title="Type in a name">
            </td>
        </tr>
    </thead>
</table>

@if (ViewBag.Error == "Error")
{
    <h2>Erro ao consumir a API</h2>
}
else if (Model != null && Model.Any())
{
    <table class="table" id="tbConsolidacao">
        <thead>
            <tr>
                <th style='width:80px'>
                    <div>
                        <div>Id</div>
                        <div style="display: inline-block">
                            <button id="btnId" style='font-size:10px' onclick="sortTable2('tbConsolidacao',0, this.id,'btnIdDesc')"><i class='fas fa-caret-up'></i></button>
                            <button id="btnIdDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',0, this.id,'btnId')"><i class='fas fa-caret-down'></i></button>
                        </div>                        
                    </div>                    
                </th>
                <th>
                    <div>Ativo</div>
                    <div style="display: inline-block">
                        <button id="btnAtivo" style='font-size:10px' onclick="sortTable2('tbConsolidacao',1,this.id,'btnAtivoDesc',1)"><i class='fas fa-caret-up'></i></button>
                        <button id="btnAtivoDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',1,this.id,'btnAtivo',1)"><i class='fas fa-caret-down'></i></button>
                    </div>                  
                </th>
                <th>
                    <div>Entradas</div>
                    <div style="display: inline-block">
                        <button id="btnEntrada" style='font-size:10px' onclick="sortTable2('tbConsolidacao',2,this.id,'btnEntradaDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnEntradaDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',2,this.id,'btnEntrada')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>Lucro</div>
                    <div style="display: inline-block">
                        <button id="btnLucro" style='font-size:10px' onclick="sortTable2('tbConsolidacao',3,this.id,'btnLucroDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnLucroDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',3,this.id,'btnLucro')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>% Lucro</div>
                    <div style="display: inline-block">
                        <button id="btnPLucro" style='font-size:10px' onclick="sortTable2('tbConsolidacao',4,this.id,'btnPLucroDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnPLucroDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',4,this.id,'btnPLucro')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>Prejuízo</div>
                    <div style="display: inline-block">
                        <button id="btnPrej" style='font-size:10px' onclick="sortTable2('tbConsolidacao',5,this.id,'btnPrejDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnPrejDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',5,this.id,'btnPrej')"><i class='fas fa-caret-down'></i></button>
                    </div>
                    
                </th>
                <th>                    
                    <div>% Prejuízo</div>
                    <div style="display: inline-block">
                        <button id="btnPPrej" style='font-size:10px' onclick="sortTable2('tbConsolidacao',6,this.id,'btnPPrejDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnPPrejDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',6,this.id,'btnPPrej')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>Melhor</div>
                    <div style="display: inline-block">
                        <button id="btnMelhor" style='font-size:10px' onclick="sortTable2('tbConsolidacao',7,this.id,'btnMelhorDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnMelhorDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',7,this.id,'btnMelhor')"><i class='fas fa-caret-down'></i></button>
                    </div>                    
                </th>
                <th>
                    <div>Pior</div>
                    <div style="display: inline-block">
                        <button id="btnPior" style='font-size:10px' onclick="sortTable2('tbConsolidacao',8,this.id,'btnPiorDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnPiorDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',8,this.id,'btnPior')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>Lucro Médio</div>
                    <div style="display: inline-block">
                        <button id="btnLucroM" style='font-size:10px' onclick="sortTable2('tbConsolidacao',9,this.id,'btnLucroMDesc')"><i class='fas fa-caret-up'></i></button>
                        <button id="btnLucroMDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',9,this.id,'btnLucroM')"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
                <th>
                    <div>Volume Médio</div>
                    <div style="display: inline-block">
                        <button id="btnVolumeM" style='font-size:10px' onclick="sortTable2('tbConsolidacao',10,this.id,'btnVolumeMDesc',2)"><i class='fas fa-caret-up'></i></button>
                        <button id="btnVolumeMDesc" style='font-size:10px' onclick="sortTableDesc2('tbConsolidacao',10,this.id,'btnVolumeM',2)"><i class='fas fa-caret-down'></i></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i.ToString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeAtivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entradas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntradasLucro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PercentEntradasLucro)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntradasPrejuizo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PercentEntradasPrejuizo)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LucroMax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LucroMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LucroMedio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VolumeTotalMedio)
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
}

