@model RelatorioLucroAtivo

@{
    ViewData["Title"] = "Lucro Resumido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modalLoad"></div>

<div class="teste">
    <h1>Análise de Lucro/Prejuízo Resumido</h1>
</div>

<table>
    <thead>
        @using (Html.BeginForm())
        {

            <tr class="teste2">
                <td>
                    @Html.DropDownList("NomeAcao", (IEnumerable<SelectListItem>)ViewBag.AcaoNome, new { @class = "form-control" })
                </td>
                <td>
                    <label for="inicio">Início:</label>
                    <input type="date" id="dataInicio" name="dataInicio" value="@ViewBag.Inicio.ToString("yyyy-MM-dd")">
                </td>
                <td>
                    <label for="fim">Fim:</label>
                    <input type="date" id="dataFim" name="dataFim" value="@ViewBag.Fim.ToString("yyyy-MM-dd")">
                </td>
                <td>
                    <input type="submit" value="Filtrar" class="btn btn-primary" name="filtrar" />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                        Selecionar Datas
                    </button>
                </td>

            </tr>
            <tr class="teste2">
                <td>
                    @Html.DropDownList("Desagio", (IEnumerable<SelectListItem>)ViewBag.Desagio, new { @class = "form-control" })
                </td>
                <td>
                    <label for="inicio">Início:</label>
                    <input type="time" id="horaInicio" name="horaInicio" step="300" min="10:00" max="17:00" value="@ViewBag.HoraInicio.ToString("HH:mm:ss")" required>
                    @*<input type="date" name="horaInicio" value="@ViewBag.HoraInicio.ToString("yyyy-MM-dd")">*@
                </td>
                <td>
                    <label for="fim">Fim:</label>
                    <input type="time" id="horaFim" name="horaFim" step="300" min="10:00" max="17:00" value="@ViewBag.HoraFim.ToString("HH:mm:ss")" required>
                    @*<input type="date" name="horaFim" value="@ViewBag.HoraFim.ToString("yyyy-MM-dd")">*@
                </td>

            </tr>
        }
    </thead>
</table>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seleção de Datas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="date" @*onselect="AddData(this)"*@ onchange="handler(event);"/>
                </div>
                <div class="modal-body">
                    <select id="list" name="list" multiple="multiple" style="height: 200px"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="enviarDatas" class="btn btn-primary">Filtrar</button>
                    @*<input class="btn btn-primary" id="enviarDatas" value="Filtrar" />*@
                </div>
            </div>
        </form>
    </div>
</div>

<div id="target"> </div>

@if (ViewBag.Error != "")
{
    <h2 class="box">@ViewBag.Error</h2>
}
else if (Model != null && Model.cotacoesIntraDay != null && Model.cotacoesIntraDay.Any())
{
    <div id="divTables" class="box">
        <table class="table" id="tabela2">
            <thead>
                <tr>
                    <th class="txt-branco">
                        Entradas: @Model.Entradas
                    </th>
                    <th class="txt-branco">
                        @*Entradas c/ Lucro: @Model.EntradasLucro (@Model.PercentEntradasLucro%)*@
                        Lucro: @Model.EntradasLucro (@Model.PercentEntradasLucro%)
                    </th>
                    <th class="txt-branco">
                        Prejuízo: @Model.EntradasPrejuizo (@Model.PercentEntradasPrejuizo%)
                        @*Entradas c/ Prejuízo: @Model.EntradasPrejuizo (@Model.PercentEntradasPrejuizo%)*@
                    </th>
                    <th class="txt-branco">
                        Melhor: @Model.LucroMax
                    </th>
                    <th class="txt-branco">
                        Pior: @Model.LucroMin
                    </th>
                    <th class="txt-branco">
                        Lucro Médio: @Model.LucroMedio
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <table class="table" id="tabela1">
        <thead>
            <tr>
                <th>
                    Ativos
                </th>
                <th>
                    Data
                </th>
                <th>
                    Valor de Entrada
                </th>
                <th>
                    Fechamento
                </th>
                <th>
                    Mínima
                </th>
                <th>
                    Máxima
                </th>
                <th>
                    Lucro/Prejuizo
                </th>
                <th>
                    Volume
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cotacoesIntraDay)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.NomeAtivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorMinimo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorMaximo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucroPrejuizo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VolumeTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

